<ion-header>
  <ion-toolbar>
    <ion-title>
      Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Afficher la photo prise à partir de data dans la fonction getPicture() -->
<ion-grid *ngIf="picture">
  <ion-row>
    <ion-col *ngFor="let picture of pictures">
      <img src="{{ picture }}" alt="">
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
